{% extends 'main.html '%}
{% block head %}
<link rel="stylesheet" href="../static/sign-in.css">
{% endblock %}
{% block body %}
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post" action="">
            {{ form_login.csrf_token }}
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 fs-4">Sign In</p>
            </div>
  
            <div class="form-outline mb-3">
                {{ form_login.username.label(class='form-control-label') }}
                {% if form_login.username.errors %}
                    {{ form_login.username(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                    {% for erro in form_login.username.errors %}
                        {{ erro }}
                    {% endfor %}
                </div>
                {% else %}
                    {{ form_login.username(class='form-control') }}
                {% endif %}
            </div>
  
            <div class="form-outline mb-3">
                {{ form_login.password.label(class='form-control-label') }}
                {% if form_login.password.errors %}
                    {{ form_login.password(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                    {% for erro in form_login.password.errors %}
                        {{ erro }}
                    {% endfor %}
                </div>
                {% else %}
                    {{ form_login.password(class='form-control') }}
                {% endif %}
            </div>
            <div class="text-center text-lg-start pt-2">
                {{ form_login.btn_submit(class='btn btn-dark w-100') }}
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{{ url_for('register') }}"
                  class="link-danger">Register</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}